{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>
            {%  block page_title %}{%  endblock %}
        </title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        {% block page_styles %}
            <!-- <link rel="stylesheet" href="{% static 'main/index.css' %}"> -->
            <link rel="stylesheet" href="{% static 'main/style.css' %}">
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <header> 
                <img class="logo" src="{% static 'main/img/logo.jpg' %}" alt="logo" title="logo">
                <h1>ActuaryBooks</h1>
            
                <ul class="menu">
                    <li><a href="{%  url 'main:index' %}">Главная</a></li>
                    <li><a href="{%  url 'products:index' %}">Каталог</a></li>
                    <li><a href="{%  url 'main:contacts' %}">Контакты</a></li>
                </ul>
                <div class="clearfix"></div>
            </header>

            <div class="content">
            
                <section>
                    {%  block page_content %}{%  endblock %}
                </section>


               <div class="clr"></div>
            </div>
        </div>    

        <footer>
            <div class="clcopyright"> &copy; Все права защищены</div>
        </footer> 
        
    </body>


</html>