{% extends 'master.html' %}
{%  load static %}

{%  block page_title %}
Главная страница
{%  endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}

{%  block page_content %}
<p class="mainslogan">
    Уважаемые клиенты!
    <br>
    В нашем интернет магазине представлен широкий перечень книг, необходимых для подготовки к сдаче квалификационного экзамена  
    для лиц, желающих вступить в саморегулируемую организацию актуариев.
</p>
<img class="imgstudents" src="{% static 'main/img/students.jpg' %}" alt="students" title="students">
<p class="maindisc">
    Студентам предоставляются скидки.
</p>
<p class="maindisc">
    Интернет-магазин работает 7 дней в неделю с 9:00 до 21:00. <br>
    Заказ через сайт - круглосуточно.
</p>
{%  endblock %}


